 

 body {background-color: rgba(204,204,204);}
        table{
            border: 1px solid black;
        }

        td{
            border: 1px solid black;
            
        }
          tr{
            border: 1px solid black;
            
        }

        table {
    border-collapse: separate;
    border-spacing: 5px;

}
input{ 
  padding: 1em;
}